<%- include ("./partials/header"); %>

<h1>Requested Apointments</h1>

<style>
	td,
	th {
		border: 1px solid #999;
		padding: 0.5rem;
	}
</style>

<table>
	<thead>
		<tr>
			<th>id</th>
			<th>Date and Time</th>
			<th>Status</th>
			<th><%=schema=='doctor' ? "Patient":'Doctor'%></th>
			<% if(schema=='doctor'){ %> 
				<th>Approve</th>
				<% }%>
		</tr>

		<tr></tr>
	</thead>

	<tbody>
		<% if(locals.appointments){ %> <%
		appointments.forEach(function(appointment) { %>

		<tr style="color: <%= appointment.approve_status ? "Green":'Red'%>;">
			<td><%=appointment._id%></td>
			<td><%=appointment.date_of_appointment%></td>
			<td><%= appointment.approve_status ? "Accepted":'Pending'%></td>
			<td><%= schema=='doctor' ? appointment.patient.name:appointment.doctor.name%></td>
			<% if(schema=='doctor'){ %> 
				<% if(!appointment.approve_status){ %> 
				<td>
					<form
						action="/api/acceptappointments/<%=appointment._id%>"
						method="POST"
					>
						<input type="submit" value="Approve"/>

					</form>
				</td>
				<% }else{ %>
					<td></td>
				<% }%>
			<% }%>
			</tr>
			<% })} %>
	
	</tbody>
</table>
